@font-face {
  font-family: 'MuseoSans-Light';
  src: url("../fonts/MuseoSans_300.otf") format("opentype"); }
@font-face {
  font-family: 'Museo300';
  src: url("../fonts/Museo300-Regular.otf") format("opentype"); }
/*-- colors --*/
/* Grey */
/* Pink */
/*light*/
/*-- fonts --*/
/*=================================== /
     General Website Break points
/ ==================================*/
/* ==================================*/
html {
  width: 100%;
  max-width: 100%; }

body {
  color: #414042;
  font-family: "MuseoSans-Light";
  overflow-x: hidden;
  margin: 0;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  background: #f1f2f2; }

.wrapper {
  display: block;
  width: 80.6%;
  margin: 0 auto; }

/* class for for clearing floats */
.clearfix {
  display: block;
  content: "";
  clear: both; }

.clearfix:after {
  height: unset;
  display: none; }

div.error, table tr.error {
  background-color: #f2dede;
  color: #a94442;
  display: none; }

h2 {
  font-family: "Museo300";
  color: #414042;
  font-weight: 300;
  font-size: 64.33px;
  margin-top: 4.625rem;
  margin-bottom: 3rem; }

/*-------------- Carousel Section ------------ */
#carousel {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background: #d83454; }

#logo {
  display: inline-block;
  position: relative; }

.home-logo {
  width: 272px;
  height: 146px;
  display: inline-block;
  position: relative;
  margin-top: 18.75rem;
  background: url(../logo.png) no-repeat;
  background-size: contain;
  background-position: center; }

#carousel .views-field-body {
  width: 48%;
  margin: 0 auto; }

#carousel .views-field-body .field-content p {
  font-size: 21.44px;
  color: white;
  margin-top: 5.5rem; }

#carousel .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/ghost-btn.png) no-repeat;
  background-size: contain;
  background-position: center; }

.not-front #carousel {
  max-height: 252px;
  min-height: unset; }

.not-front .home-logo {
  margin-top: 50px; }

.not-front #carousel .views-field-body .field-content p {
  display: none; }

.not-front #carousel .view-footer a {
  display: none; }

/*=================================== /
  Carousel Specific Break points
/ ==================================*/
@media (max-width: 480px) {
  #carousel .views-field-body {
    width: 78%; } }
@media (max-width: 399px) {
  #carousel .views-field-body {
    width: 100%; } }
/*-------------- Content-top Section ------------ */
#content-top {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background: #f1f2f2; }

#content-top .views-field-field-images img {
  display: inline-block;
  margin-top: 9.93rem;
  max-width: 482px;
  width: 100%;
  height: auto; }

#content-top .views-field-body p {
  font-size: 30px;
  color: #414042;
  margin-top: 6.625rem;
  margin-bottom: 1.312rem; }

#content-top .views-field-body p span {
  color: #d83454; }

#content-top .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/btn-red.png) no-repeat;
  background-size: contain;
  background-position: center; }

/*=================================== /
  Content-top Specific Break points
/ ==================================*/
/*-------------- Content-middle Section ------------ */
#content-middle {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  background: #f1f2f2; }

#content-middle .views-field-field-images img {
  display: inline-block;
  margin-top: 9.93rem;
  max-width: 482px;
  width: 100%;
  height: auto; }

#content-middle .views-field-body p {
  font-size: 30px;
  color: #414042;
  margin-top: 6.625rem;
  margin-bottom: 1.312rem; }

#content-middle .views-field-body p span {
  color: #d83454; }

#content-middle .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/btn-red.png) no-repeat;
  background-size: contain;
  background-position: center; }

/*=================================== /
  Content-middle Specific Break points
/ ==================================*/
/*-------------- Content-bottom Section ------------ */
#content-bottom {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh; }

#content-bottom .views-field-field-images img {
  display: inline-block;
  margin-top: 9.93rem;
  max-width: 482px;
  width: 100%;
  height: auto; }

#content-bottom .views-field-body p {
  font-size: 30px;
  color: #414042;
  margin-top: 6.625rem;
  margin-bottom: 1.312rem; }

#content-bottom .views-field-body p span {
  color: #d83454; }

#content-bottom .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/btn-red.png) no-repeat;
  background-size: contain;
  background-position: center; }

/*=================================== /
  Content-bottom Specific Break points
/ ==================================*/
/*-------------- Services Section ------------ */
#services {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh;
  background: #fff; }

#services h2 {
  margin-bottom: 6.562rem; }

#services .views-field-title {
  font-size: 21.44px;
  margin-top: 3.437rem;
  margin-bottom: 6rem; }

#services .view-footer {
  clear: both; }

#services .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/ghost-btn-black.png) no-repeat;
  background-size: contain;
  background-position: center; }

/*=================================== /
  Services Specific Break points
/ ==================================*/
@media (max-width: 767px) {
  #services h2 {
    margin-bottom: 4.125rem; }

  #services .views-column-1, #services .views-column-2, #services .views-column-3 {
    margin-bottom: 2.31rem;
    margin-left: 11.5%; }

  #services .views-column-4 {
    margin-bottom: 4.187rem;
    margin-left: 11.5%; }

  #services .views-field-field-service-image {
    display: inline-block;
    float: left; }

  #services .views-field-field-service-image img {
    max-width: 123px !important;
    max-height: 123px !important; }

  #services .views-field-title {
    margin-top: 2.875rem;
    margin-bottom: 0px;
    float: left;
    margin-left: 22px;
    display: inline-block; } }
@media (max-width: 480px) {
  #services .views-column-1, #services .views-column-2, #services .views-column-3, #services .views-column-4 {
    margin-bottom: 2.312rem;
    margin-left: 0%; }

  #services .views-field-field-service-image img {
    max-width: 83px !important;
    max-height: 83px !important; }

  #services .views-field-title {
    margin-top: 1.875rem; } }
@media (max-width: 420px) {
  #services .views-field-field-service-image img {
    max-width: 63px !important;
    max-height: 63px !important; }

  #services .views-field-title {
    margin-top: 1.25rem;
    margin-left: 11px; } }
/*-------------- Clients Section ------------ */
#clients {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh; }

#clients .wrapper {
  width: 80.6%; }

#clients .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/ghost-btn-black.png) no-repeat;
  background-size: contain;
  background-position: center; }

#clients .slick, #clients .slick__slide {
  max-width: 100%;
  position: relative;
  margin-top: 8.3rem;
  margin-bottom: 8.3rem; }

#clients .slick-prev {
  left: -17px;
  background: url(../images/chevron-left.png) no-repeat;
  width: 16px;
  height: 22px;
  background-size: 15px;
  background-position: center; }

.slick-prev:before {
  content: none !important; }

#clients .slick-next {
  right: -17px;
  background: url(../images/chevron-right.png) no-repeat;
  background-size: 15px;
  width: 16px;
  height: 22px;
  background-position: center; }

.slick-next:before {
  content: none !important; }

/*=================================== /
  Clients Specific Break points
/ ==================================*/
@media (max-width: 767px) {
  #clients .slick-slide img {
    display: inline-block;
    margin-top: 5.812rem; }

  #clients .view-clients {
    margin-top: -20px; } }
/*-------------- Find Us Section ------------ */
#find-us {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh; }

#find-us .view-footer a {
  display: inline-block;
  width: 50px;
  position: absolute;
  height: 50px;
  bottom: 2.5rem;
  margin-left: -25px;
  font-size: 0;
  background: url(../images/btn-red.png) no-repeat;
  background-size: contain;
  background-position: center; }

.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  border-radius: 0px; }

.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
  transform: translate3d(350%, 200px, 0px) !important;
  bottom: -111px !important;
  left: 79px !important; }

.leaflet-popup-tip-container {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 0%;
  margin-left: -30px;
  top: 61px;
  overflow: hidden;
  pointer-events: none;
  transform: rotate(90deg); }

/*=================================== /
  Find us Specific Break points
/ ==================================*/
@media (max-width: 480px) {
  .leaflet-popup-tip-container {
    position: absolute;
    left: 58%;
    margin-left: -30px;
    top: -19px;
    overflow: hidden;
    pointer-events: none;
    transform: rotate(180deg); }

  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    transform: translate3d(350%, 200px, 0px) !important;
    bottom: -217px !important;
    left: -65px !important; }

  .leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 0%;
    margin-left: 79px;
    top: -20px;
    overflow: hidden;
    pointer-events: none;
    transform: rotate(180deg); }

  #find-us h2 span {
    display: none; } }
/*-------------- Contacts Section ------------ */
#contacts {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  max-width: 100%;
  min-height: 100vh; }

#contacts .views-field-webform-form-body {
  width: 47.3%;
  margin: auto; }

#contacts .views-field-webform-form-body .btn-default {
  width: 100%;
  font-size: 21.44px;
  color: white;
  background: #d83454;
  margin-bottom: 1.81rem;
  min-height: 59px; }

#contacts .uneditable-input, #contacts input, #contacts select, #contacts textarea {
  max-width: 100%;
  width: auto;
  font-size: 21.44px;
  min-height: 59px; }

#contacts .form-group {
  margin-bottom: 1.375rem; }

#contacts .view-display-id-attachment_1 .views-field-body {
  margin-bottom: 5.5rem; }

#contacts .view-display-id-attachment_1 .views-field-body p {
  font-size: 21.44px; }

#contacts .view-display-id-attachment_1 .hidden-email a {
  display: none;
  font-size: 21.44px;
  color: #414042; }

/*=================================== /
    Contacts Specific Break points
/ ==================================*/
@media (max-width: 480px) {
  #contacts .views-field-webform-form-body {
    width: 90%; }

  #contacts .view-display-id-attachment_1 .views-field-body span.phone {
    padding-left: 40px;
    background: url(../images/phone-icon.png) no-repeat;
    background-size: contain;
    background-position: left 0px center; }

  .view-display-id-attachment_1 .views-field-body span.phone span {
    display: none; }

  #contacts .view-display-id-attachment_1 .hidden-email a {
    display: inline-block;
    padding-left: 40px;
    background: url(../images/email-icon.png) no-repeat;
    background-size: contain;
    background-position: left 0px center; } }

/*# sourceMappingURL=style.css.map */
